<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354428863181-t8atnbh20et6s68nqv1mmnojctmpk002.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354428863181-t8atnbh20et6s68nqv1mmnojctmpk002</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354428863181-gtchirf2h1bir57kkq43hhco1snojo07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTrNcB5RBpr_c1cSifL9K3CVB8TNA_MpE</string>
	<key>GCM_SENDER_ID</key>
	<string>354428863181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.charitypal</string>
	<key>PROJECT_ID</key>
	<string>my-share-joy</string>
	<key>STORAGE_BUCKET</key>
	<string>my-share-joy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354428863181:ios:2f0feeaeb3e54ca8c31f84</string>
</dict>
</plist>